<div class="admin-dashboard">
    <h1 class="dashboard-title">Админ-панель</h1>
    
    <div class="nav-tabs">
        <ul class="tab-list">
            <li><a href="@Url.Action("Index", "AdminCinemasPage")" class="tab-item">Управление киноцентрами</a></li>
            <li><a href="@Url.Action("Index", "AdminFilmsPage")" class="tab-item">Управление фильмами</a></li>
            <li><a href="@Url.Action("Index", "AdminTicketsPage")" class="tab-item">Управление билетами</a></li>
            <li><a href="@Url.Action("Index", "AdminFilmCinemasPage")" class="tab-item">Управление связью фильмов и кинотеатров</a></li>
        </ul>
    </div>
</div>